body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  background-image: url("../img/pattern-white.jpg");
  background-repeat: space;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus {
  color: #fb565a
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0,0,0,0.3);
}

.button {

  font: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  background-color: #fb565a;
  border: none;
  /*border-radius: 3px;*/
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  /*box-shadow: inset 0 3px rgba(0,0,0,0.1);*/

}

.button-green {
  background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
  background-color: #00bc6c;
}

.button-green:active {
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: #eab534;
}

.button-yellow:active {
  background-color: #e5a722;
}

.inner-page h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
  background-image: url("../img/pattern-white.jpg");
  background-repeat: space;
}
.slides {
  background-color: #eeeeee;
  background-image: url("../img/pattern-white.jpg");
  background-repeat: space;
}
.slides-list {
  list-style: none;
}

.slides-list-item b{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slides-switch {
  list-style: none;
}

.propositions-list{
  list-style: none;
}

.propositions-list-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.about-lead {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.about h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-products-list {
  list-style: none;
}

.about-motto b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.motto-list {
  list-style: none;
}

.motto-item span:first-child {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000000;
}

.motto-item span:last-child {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #283136;
}

.footer-studio-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.footer-contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #666666;
}

.social {
  list-style: none;
}

.social-invitation-text {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-invitation-discount{
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #444444;
}

.social-buttons {
  list-style: none;
}

.write-to-us h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.write-to-us-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.write-to-us-form input,
.write-to-us-form textarea {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(68,68,68,0.5);

  border-width: 2px;
  border-color: #d7dcde;
  border-style: solid;
  background-color: #ffffff;
}

.write-to-us-form input:hover,
.write-to-us-form textarea:hover {
  border-color: #b4b9bb
}

.write-to-us-form input:focus,
.write-to-us-form textarea:focus {
  color: rgba(68,68,68,1);
  border-color: #000000
}

.write-to-us-form input:invalid,
.write-to-us-form textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.sorting h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.filter-form label {
  font-size: 16px;
  line-height: 20px;

}

.filter-price label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

}

.filter-price input {
  font: inherit;

  font-size: 16px;
  line-height: 22px;

  text-align: center;
  vertical-align: middle;

  background-color: #eeeeee;
  border: none;
}

.filter-grid-list {
  list-style: none;
}

.filter-button {
  font:inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color:#dfdfdf;
}

.filter-button:active {
  color: rgba(0,0,0,0.3);

  background-color: #d5d5d5;
}

.templates-list {
  list-style: none;
}

.templates-item-header {
  width: 360px;
  height: 40px;
  opacity: 0.12;
  background-image: url("../img/browser.svg");

}
.templates-item-header:hover {
  opacity: 1;
}

.templates-item-hover{
  background-color: #eeeeee;
  background-image: url("../img/pattern-white.jpg");
  background-repeat: space;
}

.templates-item-hover h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

}

.templates-item-hover span {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.templates-item-hover .button:active {
    color: rgba(255, 255, 255, 1);
}

.pagination-list {
  list-style: none;
}


.pagination-item a{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #eeeeee;
  border: none;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
}

.pagination-item.pagination-current a{
  background-color: transparent;
  border: 3px solid #dbdbdb;
}
